notifications:
  email:
    on_success: never
    on_failure: change

script:
  - script/travis-ci-build.sh

git:
  depth: 10

sudo: false
dist: trusty

os:
  - linux
  - osx

env:
  global:
    - APM_TEST_PACKAGES=""

  matrix:
    - ATOM_CHANNEL=stable
    - ATOM_CHANNEL=beta

addons:
  apt:
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
    - hunspell
    - hunspell-en-us

before_install:
  - script/travis-ci-before-install.sh

branches:
  only:
    - master

node_js: lts/*

after_success:
  # Add apm to the PATH
  - export PATH=${PATH}:${HOME}/atom/usr/bin/

deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
